.idea
Ii.txt
Log.txt
CMakeLists.txt
info_live2.txt
info.txt
info_phonome2.txt
test_for_query.txt
test_of_index.txt
test.txt

.DS_Store
back/
cmake-build-debug/
demoC++/
h5/

/cmake-build-release/
/faiss/
/info.txt
/InvertedIndex_Result.txt
